@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 300;
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/NotoSansSC-Light.otf') format('opentype');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/NotoSansSC-Regular.otf') format('opentype');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/NotoSansSC-Medium.otf') format('opentype');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/NotoSansSC-Bold.otf') format('opentype');
    font-display: fallback;
  }

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/NotoSansTC-Light.otf') format('opentype');
    font-display: fallback;
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/NotoSansTC-Regular.otf') format('opentype');
    font-display: fallback;
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/NotoSansTC-Medium.otf') format('opentype');
    font-display: fallback;
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/NotoSansTC-Bold.otf') format('opentype');
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('https://fanciful-eclair-8d84f5.netlify.app/assets/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

body {
    margin: 0;
  }

.custom-select {
    width: 95px;
    height: 39px;
    border-bottom: 1px solid #B6B6B6;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: white;
    background: white;
    cursor: pointer;
}

.selected {
    padding: 10px;
}

.options {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #B6B6B6;
    width: 100%;
    z-index: 1;
    margin-top: 40px;
}

.options div {
    padding: 10px;
    cursor: pointer;
}

.options div:hover {
    background: #f0f0f0;
}

.button {
    background-color: #C2DFDD;
}

.button-active {
    background-color: #009188 !important;
}

.heading h1,
.helpLink,
.disclaimer-container,
.attrEntry label {
    display: none;
}

.nationalNumber_li .attrEntry {
    display: flex;
    flex-direction: column-reverse;
}

.itemLevel {
    text-align: left;
    font-size: 11px; 
    font-weight: 400; 
    line-height: 15px; 
    color: #F55050; 
}

.intro p {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

#api {
    padding: 48px 16px 80px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.attr ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
    padding: 0;
}

.dropdown_single {
    height: 40px;
    width: 95px;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #B6B6B6;
    /* display: none; */
}

#attributeVerification {
    width: 100%;
}

.textInput {
    height: 39px;
    width: 240px;
    padding: 0;
    border: none;
    border-bottom: 0.5px solid #B6B6B6;
    outline: none;
}

.buttons button {
    width: 343px;
    height: 48px;
    border-radius: 4px 16px;
    border: none;
    background-color: #C2DFDD;
    color: white;
}

.selectedContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img {
    width: 16px;
    padding-right: 8px;
}

.rotate {
   transform: rotate(180deg);
   padding-left: 8px;
}

.imprint-en:lang(en),
.imprint-sc:lang(zh-Hans),
.imprint-tc:lang(zh-Hant){
  display: inherit !important;
}
.imprint {
  display: none;
}